
.navlink{
    color: #374151;
  /* transition: transform 0.3s ease-out, color 0.3s ease-out; */
     transition: all 0.3s ease-out;
     font-weight: bold;
     font-size: 15px;
     font-size: 10px;
}

.navlink:hover{
    color: #004ef5;
    transform: scale(1.25);
}