
.navlink{
    color: #374151;
  /* transition: transform 0.3s ease-out, color 0.3s ease-out; */
     transition: all 0.3s ease-out;
     font-weight: bold;
}

.navlink:hover{
    color: #2563eb;
    transform: scale(1.25);
}