.animateScroll {
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-20%); } /* -50% = original array uzunluğu */
}

.animateScroll:hover {
  animation-play-state: paused;
}